@import './base.css';

#app {
  font-weight: normal;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

a,
.green {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: rgb(234, 255, 252);
  }
}
